{% extends "base.html" %}
{% load material_form %}
{% block class_tab_home %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">IHC Project Management POC</span>
          <p>For our IS415 capstone project, our team created a proof of concept (POC) for Intermountain Health Care project management.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
